<footer>
    <section id="footerSection">

        <div id="aboutUs">
            <h3>Who We are</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa non voluptatum molestiae perspiciatis
                dignissimos
                exercitationem cum culpa dolore cupiditate, repudiandae aut quia eaque natus vitae, commodi dicta neque
                architecto. Ea.</p>

        </div>
        <div id="services">
            <h3>Services</h3>
            <ul>
                <li><a href="/taxAdvisory">Tax Advisory</a></li>
                <li><a href="/accounting">Accounting Services</a></li>
                <li><a href="/payrollSoftwares">Payroll & HR Support</a></li>
                <li><a href="/internalAudit">Internal Audit, Risk</a></li>
                <li><a href="/businessRegistration">Business Registration</a></li>
                <li><a href="/regulationComp">Regulatory Compliance</a></li>
                <li><a href="/softwaresAndBusiness">Softwares and Business Applications</a></li>
            </ul>
        </div>
        <div>
            <h3>
                Certified Partnerships
            </h3>
            <img src="/img/certifications/qb.png" alt=""> <br>
            <img src="/img/certifications/Wallet-footer-2.png" alt="">
        </div>
        <div id="connectWithUs">
            <h3>
                Connect with Us:
            </h3>
            <a target="_blank" href="https://www.facebook.com/asarramofh/"><i
                    class="fab fa-facebook-square fa-2x"></i></a>
            <a target="_blank" href="https://twitter.com/asarramofh"><i class="fab fa-twitter fa-2x"></i></a>
            <a target="_blank" href="https://www.linkedin.com/company/14831873"><i
                    class="fab fa-linkedin fa-2x"></i></a>
            <a target="_blank" href="https://www.instagram.com/asarramofh/"><i class="fab fa-instagram fa-2x"></i></a>
            <!-- <img src="/img/certifications/qb.png" alt=""> <br> -->

            <!-- <hr> -->
            <br>
            <br>
            <p style="color: white">
                Plot A48, Worship Curve, <br>
                Spintex Road, Accra.<br>
                P. O. Box SK 2162<br>
                Sakumono Estates<br>
                Tema<br>
                (+233) 30 281 9514 <br> info@asarramofh.com
            </p>

        </div>

    </section>
    <div class="copyright">
        <p id="copy" style="color: white" id="copyright">©2019 Asar Ramofh Ltd., All Rights Reserved</p>
    </div>

</footer>
|