<footer>
    <section id="footerSection">
        <div>
            <h3>Contact Us</h3>
            <!-- <hr> -->

            <p style="color: white">
                Plot A48, Worship Curve, <br>
                Spintex Road, Accra.<br>
                P. O. Box SK 2162<br>
                Sakumono Estates<br>
                Tema<br>
                (+233) 30 281 9514 <br> info@asarramofh.com
            </p>

        </div>
        <div>
            <h3>
                Certified Partnerships
            </h3>
            <img src="/img/certifications/qb.png" alt=""> <br>
            <img src="/img/certifications/Wallet-footer-2.png" alt="">
        </div>
        <div id="connectWithUs">
            <h3>
                Connect with Us:
            </h3>
            <a target="_blank" href="https://www.facebook.com/asarramofh/"><i
                    class="fab fa-facebook-square fa-2x"></i></a>
            <a target="_blank" href="https://twitter.com/asarramofh"><i class="fab fa-twitter fa-2x"></i></a>
            <a target="_blank" href="https://www.linkedin.com/company/14831873"><i
                    class="fab fa-linkedin fa-2x"></i></a>
            <a target="_blank" href="https://www.instagram.com/asarramofh/"><i class="fab fa-instagram fa-2x"></i></a>
            <!-- <img src="/img/certifications/qb.png" alt=""> <br> -->

        </div>
    </section>
    <div class="copyright">
        <p id="copy" style="color: white" id="copyright">©2019 Asar Ramofh Ltd., All Rights Reserved</p>
    </div>

</footer>
|