<footer>
    <section id="footerSection">

        <div id="aboutUs">
            <h3><a href="/aboutUs">About Us</a></h3>

            <div style="padding-left: 0; width: max-content">
                <h3>Softwares</h3>
                <ul id="subMenu2">
                    <li><a href="/quickbooks">Quickbooks</a></li>
                    <li><a href="/wallethr">Wallet HR</a></li>
                    <li><a href="/payrollSoftwares">Payroll</a></li>
                </ul>
            </div>

        </div>
        <div id="services">
            <h3>Services</h3>
            <ul>
                <li><a href="/taxAdvisory">Tax Advisory</a></li>
                <li><a href="/accounting">Accounting Services</a></li>
                <li><a href="/payrollSoftwares">Payroll & HR Support</a></li>
                <li><a href="/internalAudit">Internal Audit, Governance, Risk And Compliance</a></li>
                <li><a href="/businessRegistration">Business Registration And Company Secretarial</a></li>
                <li><a href="/regulationComp">Regulatory Compliance</a></li>
                <li><a href="/softwaresAndBusiness">Softwares and Business Applications</a></li>
            </ul>
        </div>
        <div id="certifiedPartners">
            <h3>
                Certified Partnerships
            </h3>
            <div id="certified">
                <a  href="/quickbooks"><img src="/img/certifications/qb.png" style="width: 160px;" alt=""></a> <br>
                <a href="/wallethr"><img style="margin-top: -22px;" src="/img/certifications/Wallet-footer-2.png" alt=""></a>
                <img style="margin-left: -11px;" class="certiLogo" style="margin-top: 10px;" src="/img/certifications/fishbowlLogo.png" alt="">
                <img style="margin-left: -7px;" src="/img/certifications/quickpeach.png" alt="">
                <img class="certiLogo" style="margin-top: 10px; margin-left: -3px; width: 120px;" src="/img/certifications/sage.png" alt="">
                <img style="margin-left: -10px;" src="/img/certifications/tally.png" alt="">

            </div>
        </div>
        <div id="connectWithUs">
            <h3>
                Connect with Us:
            </h3>
            <a target="_blank" href="https://www.facebook.com/asarramofh/"><i
                    class="fab fa-facebook-square fa-2x"></i></a>
            <a target="_blank" href="https://twitter.com/asarramofh"><i class="fab fa-twitter fa-2x"></i></a>
            <a target="_blank" href="https://www.linkedin.com/company/14831873"><i
                    class="fab fa-linkedin fa-2x"></i></a>
            <a target="_blank" href="https://www.instagram.com/asarramofh/"><i class="fab fa-instagram fa-2x"></i></a>
            <!-- <img src="/img/certifications/qb.png" alt=""> <br> -->

            <!-- <hr> -->
            <br>
            <br>
            <p style="color: white">
                (+233) 30 281 9514 <br>
                (+233) 24 388 9967 <br> info@asarramofh.com <br>
                <br> Plot A48 Worship Curve <br>
                Spintex Road Accra<br>
                P. O. Box SK 2162<br>
                Sakumono Estates<br>
                Tema<br>
            </p>

        </div>

    </section>
    <div class="copyright">
        <p id="copy" style="color: white" id="copyright">©2019 Asar Ramofh Ltd., All Rights Reserved</p>
    </div>

</footer>