<header id = "mainPageNav">
    <a href="/"><img src="img/logo new.png" alt=""></a>
    <nav  class="nav-list">
        <div id="leftSideCol" class="paddingColumn"></div>
        <div id="middleChild">
            <div class="paddingColumn" id = "menuTopcol"></div>
            <ul class="main-nav">
                <!-- <a href="http://localhost:3000/services">Services</a> -->
                <li id="servicesMenu"><a href="#"> <span id="toggleSign">+</span> Services</a>
                    <ul data-open="close" id="subMenu1">
                    </ul>
                </li>
                <li id="softwaresMenu"> <a href="#"><span id="toggleSign">+</span> Softwares</a>
                    <ul id="subMenu2">
                        <li><a href="/quickbooks">Quickbooks</a></li>
                        <li><a href="/wallethr">Wallet HR</a></li>
                        <li><a href="/payrollSoftwares">Payroll</a></li>
                    </ul>
                </li>
                <li><a href="/aboutUs">About Us</a> </li>
                <li> <a href="/contactUs">Contact Us</a> </li>
                <!-- <li></li> -->
            </ul>
            <div class="paddingColumn" id = "menulowcol"></div>

        </div>
        
        <div id="rideSideCol" class="paddingColumn"></div>

    </nav>
    <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</header>