<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accounting Softwares</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto+Condensed&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a08eb5b7e4.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/services.css">
    <%include partials/headHTML.ejs%>
    <link rel="stylesheet" href="css/productImages.css">
    <style>
        ul>li {
            margin-bottom: 7px !important;
        }
    </style>
</head>

<body>
    <%include partials/header.ejs%>
    <main>
        <section class="banner">
            <div>
                <h1>Accounting Software
                </h1>
            </div>

        </section>

        <section class="info">
            <article>
                <h2> Holistic Support for QuickBooks<sup class="copyIcon">®</sup> In Ghana, Africa </h2>
                <p>
                    ASAR RAMOFH is an authorised reseller and certified partner for QuickBooks. We provide end-to-end
                    QuickBooks support for businesses in Ghana and some parts of Africa.
                </p>
                <p>
                    Beyond sales and installations, we provide tailored customization support services that allow the
                    user an easy, convenient and effective use of the Software.
                </p>
                <p>
                    Our QuickBooks trainings are practical and interactive, aimed at giving you a hands on and immediate
                    usability of your accounting software.
                </p>
                <p>
                    We provide after sales support to ensure you have access to continued support beyond the
                    implementation phase.
                </p>



                <h2>The QuickBooks Accounting Software</h2>
                <p>
                    QuickBooks is an accounting software ideal for Micro, Small and Medium Sized Entities (MSMEs). There
                    are now two QuickBooks solutions for your business, QuickBooks Desktop and QuickBooks online.
                </p>
                <h2>Features of QuickBooks (Both Desktop & Online)
                </h2>
                <ul>
                    <li> Multi Currency transactions, reports and valuations</li>
                    <li> Export of reports to Microsoft Excel and import of limited transactions
                    </li>
                    <li> Expenses tracking</li>
                    <li>Customer invoice tracking</li>
                    <li> Bank and cash reconciliation in QuickBooks®</li>
                    <li> Budgeting and forecasting</li>
                    <li>Project profitability tracking</li>
                    <li>Cost and revenue centre profitability tracking</li>
                    <li>Attachment of original documents to system entries </li>
                    <li>Report customization, memorization and scheduling</li>
                    <li>Bulk transaction capturing</li>
                    <li> Graphical overview of business performance</li>
                </ul>
                <h2>Possible Reports from QuickBooks (Both Desktop & Online)
                </h2>
                <ul>
                    <li>Profit and Loss</li>
                    <li>Balance Sheet</li>
                    <li>Statement of Cash Flow</li>
                    <li>Trial Balance</li>
                    <li>General Ledger</li>
                    <li>Budget vs Actual Report</li>
                    <li>Account Receivable Ageing report</li>
                    <li>Account Payable Ageing report</li>
                    <li>Project Profitability</li>
                    <li>Profit and loss by class (cost centres or departments) </li>
                </ul>
            </article>
            <div>
                <img class="prod" src="img/productImages/quickbooks_prop_2019.png" alt="">

            </div>
        </section>

    </main>
    <!-- <img src="img/qb.jpg" alt=""> -->
    <%include partials/footer.ejs%>
    <script src="js/nav.js"></script>

</body>

</html>