<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accounting Services</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto+Condensed&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a08eb5b7e4.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/services.css">
    <%include partials/headHTML.ejs%>

</head>

<body>
    <%include partials/header.ejs%>
    <main>
        <section class="banner">
            <div>
                <h1>Accounting Services
                </h1>
            </div>
        </section>
        <section class="info">
            <p>
                We provide fully outsourced Accounting services.
                We are also able to Support your in-house accounting team via or partially outsource Accounting Service
                option.
                Either way, your books are managed by dedicated Qualified Accountants.
            </p>
            <h2>Our Accounting services includes: </h2>
            <ul>
                <li>Setting up of the Accounting function from scratch</li>
                <li>Setting up Accounting policies and manuals
                </li>
                <li>Setting up of Fixed Asset Register</li>
                <li>Setting up the Petty Cash system</li>
                <li> Verifying all expenses
                </li>
                <li> Reconciliation of all cash and bank accounts</li>
                <li> Period end Cash counts and Stock-takes</li>
                <li>Preparation of Monthly/Quarterly/Bi-annual/Annual Management Accounts</li>
                <li>Discussion of Management Accounts with Management Team</li>
            </ul>
        </section>

    </main>
    <%include partials/footer.ejs%>
    <script src="js/nav.js"></script>

</body>

</html>