<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accounting Softwares</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto+Condensed&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a08eb5b7e4.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/services.css">
    <style>
        footer {
            position: absolute;
            bottom: 0px;
            width: 100vw;
        }

        footer p {
            width: max-content;
        }

        .banner img {
            width: 100vw;
        }

        /* Desktops and laptops ----------- */
        @media only screen and (min-width : 1224px) {

            /* Styles */
            p {
                width: 65vw;
            }
        }
    </style>
</head>

<body>
    <%include partials/header.ejs%>
    <main>
        <section class="banner">
            <div>
                <h1>Accounting Software
                </h1>
            </div>

        </section>
        <section class="info">
            <h2>QuickBooks </h2>
            <p>
                QuickBooks is an accounting software package intended for Small to Medium sized businesses. It provides
                on-site (server) based or cloud based solutions.

                It is a great solution that takes care of your sales and accounts receivable, Inventory management,
                purchases, expenses and Accounts payables, Bank payments and deposits, Cash and Bank reconciliation in
                the system etc </p>
            <p>
                QuickBooks provides relevant reports for your business.

                QB Installation, Customization and Training (ICT)

                ASAR RAMOFH, your certified QuickBooks Partner provides comprehensive QB ICT services that enables your
                finance team to better understand, use and maximise the QB Software.
            </p>
        </section>

    </main>
    <!-- <img src="img/qb.jpg" alt=""> -->
    <%include partials/footer.ejs%>
    <script src="js/nav.js"></script>

</body>

</html>