<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accounting Services</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto+Condensed&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a08eb5b7e4.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/services.css">

</head>

<body>
    <%include partials/header.ejs%>
    <main>
        <section class="banner">
            <div>

                <h1>Accounting Services
                </h1>


            </div>
        </section>
        <section class="info">
            <p>
                We provide fully outsources Accounting services. We are also able to provide partially outsourced
                Accounting Services for companies that have in-house accountants.
            </p>
            <h2>Services Details: </h2>
            <li>Setting up of the Accounting function from scratch
            </li>
            <li>Setting up Accounting policies and manuals
            </li>
            <li> Setting up of Fixed Asset Register

            </li>
            <li> Setting up the Petty Cash system

            </li>
            <li>Verifying all expenses

            </li>
            <li>Reconciliation of all cash and bank accounts
            </li>
            <li>Preparation of Monthly/Quarterly/
            </li>
            <li>Bi-annual/Annual ManagementAccounts
            </li>
            <li>Discussion of Management Accounts with Management Team
            </li>

        </section>

    </main>
    <%include partials/footer.ejs%>
    <script src="js/nav.js"></script>

</body>

</html>