<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Business Registration</title>
    <%include partials/headHTML.ejs%>
    <style>
        .info {
            margin-bottom: 150px;

        }
    </style>
</head>

<body>
    <%include partials/header.ejs%>
    <main>
        <section class="banner">
            <div>
                <h1>Business Registration and Company Secretarial
                </h1>
            </div>
        </section>
        <section class="info">
            <p>
                We provide business registration services with the Registrar General’s Department and also act as
                company secretary.
            </p>
            <h2>Our Secretarial services include: </h2>

            <ul>
                <li>Registration of business (Sole proprietor/Limited Liability Companies)

                </li>
                <li>Update of company file with changes in business details and profile

                </li>
                <li>Taking and circulating Board minutes

                </li>
                <li>Providing meeting notices

                </li>
                <li>Circulating resolutions

                </li>
                <li>Filing of Annual Audited Accounts

                </li>
                <li> Managing corporate correspondences
                </li>
            </ul>

        </section>

    </main>

    <%include partials/footer.ejs%>
    <script src="js/nav.js"></script>
</body>

</html>