<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Client Profiles
    </title>
    <%include partials/headHTML.ejs%>
    <style>
        article {
            margin-bottom: 50px;
        }


        article a {
            color: #114A69 !important;
        }
    </style>
</head>

<body>
    <%include partials/header.ejs%>
    <main>
        <section class="banner">
            <div>
                <h1>Clients Profiles
                </h1>
            </div>
        </section>
        <section class="info">

            <article>
                <h2 id="startupsAndFin" class="firstH1">Start-Ups and FinTechs</h2>
                <p>We believe Startups are great business in the waiting. They have the potential to grow into fully
                    fledged businesses if the right advice and initial steps are taken from the onset.

                    Our dedicated services for startups enables them to start on the right footing to achieve their
                    desired vision.

                    Do you have an idea? <a href="/contactUs">Talk to us</a> together to help you plan, register and run
                    your startup efficiently
                    and profitably.
                </p>
            </article>

            <article>
                <h2 id="SMEs" class="firstH1">SMEs</h2>
                <p>Small to Medium Enterprises form the majority of business in many countries. Many companies stagnate
                    in their growth and expansion stage due to the many challenges facing this phase of growth. We focus
                    on helping SMEs understand their market, risk and opportunities associated with their business. Most
                    importantly, we provide them with a service package that takes care of their basic Management and
                    compliance need</p>
                <h3>Our service package for SMEs include:</h3><br>
                <ul>
                    <li>Business restructuring and formalization

                    </li>
                    <li>Outsourced Accounting services
                    </li>
                    <li>Payroll management
                    </li>
                    <li>HR support
                    </li>
                    <li>Tax Advisory</li>
                    <li>Software implementation
                    </li>
                </ul>
            </article>
            <article>
                <h2 id="ngosAndChar" class="firstH1">NGOs and Charities</h2>
                <p>In your quest to provide a social good there are usually some challenges. Donors want to be sure they
                    are receiving value for money. They also want to assess whether the beneficiaries are receiving the
                    relevant impact.
                </p>
                <p>ASAR RAMOFH provides useful services for NGOs and Charities.
                </p>
                <ul>

                    <li>Financial systems audit
                    </li>
                    <li>Project audits</li>
                    <li> Conduct project impact surveys
                    </li>
                    <li>Outsourced compliance and accounting service</li>
                </ul>
                <p>For a new organization, we provide full business registration services and administration, Human
                    resource and accounting services for the initial years.
                    <a href="/contactUs">Talk to us</a> today on how we can be helpful to your organization
                </p>
            </article>
            <article>
                <h2 id="largeMulti" class="firstH1">Large Multinational Companies
                </h2>
                <p>Our Payroll Software has proven very useful for large companies that need to process payroll monthly
                    for large numbers of employees. Reduce your tax errors and time for preparing the multiple statutory
                    compliance report by having all reports ready at just a click of a button.
                    The HR analytics and other functions of the Wallet HR ® enables you to manage your Human resource
                    needs with ease.
                    Outsourcing your tax, regulatory compliance, business registration and or company secretarial
                    services to us would enable you to focus on your core mandate whilst leveraging on our expertise to
                    maximize your company’s goals.
                    <a href="/contactUs">Talk to us</a> today on how we can be helpful to your company

                </p>
            </article>
            <article>
                <h2 id="branchCompanies" class="firstH1">Branch Companies and Liaison Offices
                </h2>
                <p>Key matters of concern to such companies are:
                </p>
                <ul>
                    <li>The business registration regime</li>
                    <li>Fiscal and other statutory regimes</li>
                    <li>Investment rules</li>
                </ul>
                <p> ASAR RAMOFH provides a comprehensive support for branch companies. We have the capacity to walk you
                    through the rudiments of doing business in Ghana and other parts of Africa.
                    Whether you are a branch or liaison office already incorporated or you are now seeking to
                    incorporate, our legal, compliance and tax team are more than happy to assist you.
                    <a href="/contactUs">Talk to us</a> today on how we can be helpful to your company
                </p>
            </article>

        </section>

    </main>

    <%include partials/footer.ejs%>
    <script src="js/nav.js"></script>
</body>

</html>