<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Client Profiles
    </title>
    <%include partials/headHTML.ejs%>
</head>

<body>
    <%include partials/header.ejs%>
    <main>
        <section class="banner">
            <div>
                <h1>Clients Profiles
                </h1>

            </div>
        </section>
        <section class="info">

        </section>

    </main>

    <%include partials/footer.ejs%>
    <script src="js/nav.js"></script>
</body>

</html>