<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Internal Audit and Risk Compliance</title>
    <%include partials/headHTML.ejs%>
    <style>
        main {
            min-height: 100vh;
        }
    </style>
</head>

<body>
    <%include partials/header.ejs%>

    <main>
        <section class="banner">
            <div>
                <h1 id="title">Internal Audit, Governance, Risk and Compliance </h1>
            </div>
        </section>
        <section class="info">
            <ul>

                <li>Internal Control review
                </li>
                <li>Governance structure review
                </li>
                <li>IFRS Compliance audit
                </li>
                <li>Specific business process audit</li>
                <li>Agreed upon engagement
                </li>
            </ul>

        </section>

    </main>

    <%include partials/footer.ejs%>
    <script src="js/nav.js"></script>
    <script>
        // document.querySelector('#title').textContent = document.querySelector('#title').textContent.toLocaleLowerCase();
    </script>
</body>

</html>