<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Internal Audit and Risk Compliance</title>
    <%include partials/headHTML.ejs%>
</head>

<body>
    <%include partials/header.ejs%>
    <main>
        <section class="info">
            <ul>
                <li>Internal Control review
                </li>
                <li>Governance structure review
                </li>
                <li>IFRS Compliance audit
                </li>
                <li>Specific Business review
                </li>
                <li>Agreed upon engagement
                </li>
            </ul>

        </section>

    </main>

    <%include partials/footer.ejs%>
    <script src="js/nav.js"></script>
</body>

</html>