<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payroll and HR</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto+Condensed&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a08eb5b7e4.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/services.css">
    <%include partials/headHTML.ejs%>
</head>

<body>

    <%include partials/header.ejs%>
    <main>
        <section class="banner">
            <div>

                <h1>Payroll & HR Support
                </h1>

            </div>
        </section>
        <section class="info">
            <p>
                We provide full payroll services.
                We also provide partial and full HR functions as may be required.
            </p>
            <h2>Services include: </h2>
            <ul>
                <li> Review and creation of personnel files for all staff</li>
                <li> Review and development of employment contracts for all staff</li>
                <li>Company registration with statutory pension bodies ie. SSNIT, Tier 2 & 3 fund managers</li>
                <li> Preparation of monthly Payroll and Pay slips</li>
                <li>Management of payroll deductions, validation and payments of SSNIT, PAYE, Tier 2, Tier 3 and Net
                    salaries</li>
                <li>Annual PAYE returns compilation and filing</li>
                <li>Determination of Job Descriptions and Job Titles</li>
                <li>New staff orientations</li>
                <li>Staff training on specific business areas and general skills</li>
                <li>Bi-Annual and Annual staff appraisals</li>
                <li>Staff recruitments</li>
            </ul>

        </section>

    </main>
    <%include partials/footer.ejs%>
    <script src="js/nav.js"></script>

</body>

</html>