<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Regulatory Compliance
    </title>
    <%include partials/headHTML.ejs%>
    <style>
        .info {
            margin-bottom: 150px;

        }
    </style>
</head>

<body>
    <%include partials/header.ejs%>
    <main>
        <section class="banner">
            <div>
                <h1>Regulatory Compliance
                </h1>
            </div>
        </section>
        <section class="info">
            <p>
                We provide registration, annual compliance returns and permit management for the following regulatory
                agencies
            </p>
            <h2>Services Details: </h2>

            <ul>
                <li>Ghana Investment Promotion Centre</li>
                <li>Minerals Commission</li>
                <li>Petroleum Commission</li>
                <li>Energy Commission of Ghana</li>
                <li> Ghana Immigration Service</li>
                <li> Ghana Fire Service</li>

            </ul>
            <br>
            <br>
            <h2>Immigration Services: </h2>
            <ul>
                <li>We provide the following services for our clients</li>
                <li>Obtaining of Ghana Card for Expats</li>
                <li>Work and Resident permits</li>
                <li>Renewal of work and resident permits</li>
                <li>Multiple entry visa</li>
                <li>Visa on arrival</li>
            </ul>

        </section>

    </main>

    <%include partials/footer.ejs%>
    <script src="js/nav.js"></script>
</body>

</html>