<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sample Page</title>
    <style>
        span {
            color: green
        }

        div {
            color: rgb(255, 47, 245);
        }
    </style>
</head>



<body>
    <h1>HEllo WOrld</h1>
    <form action="/allTest1" method="POST">
        <input type="text" name="name" id="">
        <input type="submit">
    </form>

    <div>
        <h2 style="color: initial">snsjsjdjj</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi minima dolorum unde labore beatae harum
            pariatur quaerat laborum voluptate quod! Ipsum id, nostrum vero asperiores corrupti consequuntur numquam rem
            iusto!
        </p>
        <span style="color:inherit">askakksaksa </span>

    </div>
</body>

</html>