<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Asar Ramofh Ltd.</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto+Condensed&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a08eb5b7e4.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/services.css">

</head>

<body>
    <%include partials/header.ejs%>
    <main>
        <section class="banner">
            <div>

                <h1>TAX ADVISORY</h1>


            </div>
        </section>
        <section class="info">
            <p>
                We take care of all your statutory tax needs. We also provide ongoing tax advice that enables you make
                inform decisions

            </p>
            <h2>Services Details: </h2>
            <li>Company Tax Identification registration
            </li>

            <li>Staff Tax Identification registration
            </li>
            <li> Annual Company Self-Assessment estimates and filing
            </li>
            <li> Quarterly Self-Assessment review and filing
            </li>
            <li>Monthly WHT filing and payments
            </li>
            <li>Monthly VAT computation, filing and payment
            </li>
            <li>Filing of Annual Director’s returns
            </li>
            <li>Filing of Annual Audited Accounts
            </li>
            <li>Assisting with GRA statutory audit
            </li>

        </section>

    </main>
    <%include partials/footer.ejs%>
    <script src="js/nav.js"></script>

</body>

</html>