<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Human Resource Softwares</title>
    <%include partials/headHTML.ejs%>
</head>

<body>
    <%include partials/header.ejs%>
    <main>
        <section class="banner">
            <div>
                <h1>HR Softwares
                </h1>
            </div>

        </section>
        <section class="info">
            <h2>Wallet HR </h2>
            <p>
                Wallet HR is an integrated solution that takes care of your Human Resource needs from Recruitment to
                Retirement. You could however pick and choose modules that are most relevant to your business and budget
                and scale up as you go.

            </p>

            <p>Modules Include but are not limited to:</p>
            <ul>
                <li>Corporate Payroll</li>
                <li>Online Leave Management System
                </li>
                <li>Employee Information Portal</li>
                <li>Online Travel Management System
                </li>
                <li>Online Reimbursement Management System

                </li>
                <li>Online Recruitment System

                </li>
                <li>Performance Appraisal
                </li>
                <li>Training Management
                </li>
                <li>Visitors Management

                </li>
                <li>Canteen Management


                </li>
                <li>Attendance Management


                </li>
                <li>Exit Management


                </li>
                <li>Etc


                </li>
            </ul>
        </section>

    </main>
    <!-- <img src="img/qb.jpg" alt=""> -->
    <%include partials/footer.ejs%>
    <script src="js/nav.js"></script>
</body>

</html>