/*Styling for for Desktop Info Section  */

@media (min-width: 1024px) {
    .info ul {
        margin-left: 20px;
    }

    .info ul>li {
        font-size: 13pt;
    }

    .info p {
        width: 65vw
    }
}